.wrapper-white {

margin-top: 100px;
height:500px;
background-color:white;


}

.wrapper-white h2

{
margin-top: -50px;
font-size: 35px;

}


.wrapper-white h4 {

  margin-top:100px;
  color: #469AE0;
  font-size: 28px;


}

